html {
    background-color: #131313;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}
        
a.button {
    text-decoration: none;
    color: initial;
    background-color: #A67A53;
    padding: 15px;
}

.navbar {
        background-color: #455238;
        overflow: hidden;
}
        
.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: initial;
}
        
.navbar a:hover {
    background-color: #7A8067;
    color: black;
}
        
.navbar a.active {
    background-color: #7A8057;
}
        
.footer {
    text-align: center;
    font-size: 10px;
    clear: both;
    position: fixed;
    left: 0;
    top: 500px;
    width: 100%;
}

h1 {
    color: #325288;
    font-weight: normal;
}

h3 {
    font-weight: normal; 
}

.title {
    text-align: center;    
    color: #3419DE;
    font-family: "Times New Roman", Times, serif;
}

.mega{
    font-size: 1000%;
}

.big{
    font-size: 250%;
}

.links {
    font-size: 120%;
}

.center{
    margin-left: 50%;
}

.action:hover{
    color: red;
    /*font-size: 150%;*/
}

/*Enlarges the on button*/
.on {
    font-size: 150%;
}

strong {
 font-weight: bold;
}

#cookieCounter{
    size: 200%;
}
