<!DOCTYPE html>
<html>
    <head>
    	<title>Madlibs Input</title>
    	<link rel="stylesheet" href="css\defaultstyle.css">
    </head>
    <body>
        <h1 class="title">Unfortunately, your previous action has failed due to:</h1>  
        <h1 class="title"><strong>{{error}}</strong></h1>
    </body>
</html>