<!doctype html>
<html lang='en'>
    
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css\defaultstyle.css">
        <title>Jawand's Home Page</title>
    </head>
    
    <body>
        <div class="navbar">
            <a class = "active" href="">Home</a>
            <a class = "button" href="https://user.tjhsst.edu/2023jsingh/views">Views</a>
        </div>
    
        <div class="navbar">
            <a class ="active" href="https://user.tjhsst.edu/2023jsingh/labs">Labs</a>
            <a class ="button" href="https://user.tjhsst.edu/2023jsingh/pages/about.html">About</a>
            <a class ="button" href="https://github.com/JawandS">GitHub</a>
            <a class ="button" href="https://stackoverflow.com/users/13297560/jawand-s">Stack</a>
            <a class ="button" href="HTTPS://director.tjhsst.edu">Director</a>
        </div>
        
        </br></br>
        <button id="counter" onclick="myFunction()" class="mega">{{clicks}}</button>
        
        <!--<script>-->
        <!--    process.log(`running homepage script`)-->
            
        <!--    var mysql = require('mysql');-->
        <!--    var clicks = 0;-->
        
        <!--    var mysql = require('mysql');-->

        <!--    var sql_params = {-->
        <!--      connectionLimit : 10,-->
        <!--      user            : process.env.DIRECTOR_DATABASE_USERNAME,-->
        <!--      password        : process.env.DIRECTOR_DATABASE_PASSWORD,-->
        <!--      host            : process.env.DIRECTOR_DATABASE_HOST,-->
        <!--      port            : process.env.DIRECTOR_DATABASE_PORT,-->
        <!--      database        : process.env.DIRECTOR_DATABASE_NAME-->
        <!--    };-->
            
        <!--    var pool  = mysql.createPool(sql_params);-->
            
        <!--    pool.query('SELECT * FROM clicks', function(err, result, fields) {-->
        <!--        if (err) throw err;-->
        <!--        console.log(result);-->
        <!--        clicks = parseInt(result[0]['count']);-->
        <!--        document.getElementById("counter").innerHTML = clicks;-->
        <!--    });-->
            
        <!--    process.log(`SQL run, count set to ${count}`)-->

        <!--    function myFunction() {-->
        <!--        console.log(clicks)-->
                
        <!--        clicks++;-->
        <!--        document.getElementById("counter").innerHTML = clicks;-->
                
        <!--        pool.query(`UPDATE clicks SET count = ${clicks}`, function(err, result, fields) {-->
        <!--            if (err) throw err;-->
        <!--            console.log("updated clicks");-->
        <!--        });-->
        <!--    }-->
        <script>
            // // MYSQL SETUP
            // var mysql = require('mysql');
            
            // var sql_params = {
            //     connectionLimit : 10,
            //     user            : process.env.DIRECTOR_DATABASE_USERNAME,
            //     password        : process.env.DIRECTOR_DATABASE_PASSWORD,
            //     host            : process.env.DIRECTOR_DATABASE_HOST,
            //     port            : process.env.DIRECTOR_DATABASE_PORT,
            //     database        : process.env.DIRECTOR_DATABASE_NAME
            // };
            
            // var pool  = mysql.createPool(sql_params);
            var clicks = {{clicks}};
            
            function myFunction(){
                clicks++;
                document.getElementById("counter").innerHTML = clicks;
                
                // pool.query(`UPDATE clicks SET count = ${clicks}`, function(err, result, fields) {
                //     if (err) throw err;
                //     console.log("updated clicks");
                // });
            }
        </script>
    </body>
</html>

