<!doctype html>
<html lang='en'>
    
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css\defaultstyle.css">
        <title>Jawand's Labs</title>
    </head>
    
    <body>
        <div class="navbar">
            <a class = "active" href="https://user.tjhsst.edu/2023jsingh/">Home</a>
            <a class ="button" href="https://user.tjhsst.edu/2023jsingh/madlibs">Madlibs</a>
            <a class ="button" href="https://user.tjhsst.edu/2023jsingh/math-home">Math</a>
        </div>
        
    </body>
</html>

