<!doctype html>
<html lang='en'>
    
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css\defaultstyle.css">
        <title>Link Testing</title>
    </head>
    
    <body>
        <h1>Testing</h1>
        <h1>{{number}}</h1>
    </body>
    
</html>

