<!DOCTYPE html>
<html>
    <head>
    	<title>Math Facts Input</title>
    	<link rel="stylesheet" href="css\defaultstyle.css">
    </head>

    <body>
        <h1>Numbers</h1>
        <button onclick="openNumber()">Click</button>
        
        <form id="form" onsubmit="openNumber()">
            
            <label for="number">Number:</label><br><br>
            <input type="text" id="number" name="number"><br><br>
            
            <label for="enlarge">JSON:</label><br><br>
            <input type="checkbox" id="enlarge" name="enlarge"><br><br>
            
            <input type="submit" value="Submit">
            
        </form> 
        
        <form onsubmit="openNumber()">
            <label for="username">Enter username:</label> 
            <input type="text" name="username" id="username" />
            <input type="submit" />
        </form>
        
        {{!--<button onclick = openNumber()>Enter</button>--}}
        
        <script>
            function openNumber(){
                // alert(`https://user.tjhsst.edu/2023jsingh/math/${req.query['number']}`);
                var val = document.getElementById("number").value;
                // alert(`https://user.tjhsst.edu/2023jsingh/math/${val}`);
                console.log('open new math window');
                
                // const queryString = window.location.search;
                // console.log(queryString);
                
                // const urlParams = new URLSearchParams(queryString);
                
                // var number = urlParams['number'];
                
                window.open(`https://user.tjhsst.edu/2023jsingh/math/${val}`, '_blank'); 
                // console.log(`User went to ${number}`)
            }
            
            function test() {
                alert(`The function 'test' is executed`);
            }
        </script>
    
    </body>
</html>